<fieldset style="width:70%" data-hook="bank_detail">
  <legend ><%= t(:bank_detail) %></legend>
  <% @bank_detail = Spree::BankDetail.find(@payment.source_id) %>
  <table class="index">
    <tr>
      <th colspan="4"><%= t(:bank_details) %></th>
    </tr>
    <tr>
      <td><%= label_tag nil, t(:account_name) %>:</td>
      <td>
        <%= @bank_detail.account_name %>
      <td><%= label_tag nil, t(:account_number) %>:</td>
      <td>
        <%= @bank_detail.account_number %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag nil, t(:bank) %>:</td>
      <td>
        <%= @bank_detail.bank %>
      <td><%= label_tag nil, t(:bank_branch) %>:</td>
      <td>
        <%= @bank_detail.bank_branch %>
      </td>
    </tr>
  </table>
</fieldset>
