<%#= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image' %>
<% param_prefix = "payment_source[#{payment_method.id}]" %>
<%
if @order.payment.present? && @order.payment_method.type == "Spree::PaymentMethod::BankTransfer" && @order.bank_detail.present?
  bank_detail = @order.bank_detail.bank
  acc_number = @order.bank_detail.account_number
  acc_name = @order.bank_detail.account_name
  branch = @order.bank_detail.bank_branch
else
  bank_detail = ""
  acc_number = ""
  acc_name = ""
  branch = ""
end
%>

<div class="field bank" data-hook="bank">
  <%= label_tag nil, t(:bank) %><br />
  <%= select_tag("[bank][bank]", options_from_collection_for_select(Spree::BankDetail.all(:conditions => {:status => "owner"}), :bank, :bank), :selected => bank_detail, :include_blank => true) %>
  <span class="required">*</span>
  <table id="owner_account" class="index"></table>
  <br />
  <%= label_tag nil, t(:account_name) %><br />
  <%= text_field_tag "[bank][account_name]", acc_name  %>
  <span class="required">*</span>
  <br />
  <%= label_tag nil, t(:account_number) %><br />
  <%= text_field_tag "[bank][account_number]", acc_number  %>
  <span class="required">*</span>
  <br />
  <%= label_tag nil, t(:bank_branch) %><br />
  <%= text_field_tag "[bank][bank_branch]" %>
  <%= hidden_field_tag "[bank][status]", :value => "customer" %>
</div>

<script type="text/javascript">
  $("#_bank_bank").change(function(){
    if (this.value != ""){
      $.getJSON("/bank_details/"+this.value+".json",function(data)
      {
        $.each(data, function(i,data)
          {
          var data_html = '<td>'+data.bank+'<br/>'+data.account_name+' - '+data.account_number+'</td>';	
            $("[data-hook=bank] table#owner_account").html(data_html);
          });							
      });
    }
    else{$("[data-hook=bank] table#owner_account").html("");}
    });


  $('input[type="radio"][name="order[payments_attributes][][payment_method_id]"]').click(function() {
    if (this.checked) {
      return ($('#payment_method_' + this.value)).show();
      return ($("[data-hook=bank]")).show();
    }
  });

  $("li").hide();
</script>
