<fieldset>
  <div id="account_form" data-hook>
    <%#= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image' %>
    <% param_prefix = "payment_source[#{payment_method.id}]" %>

    <div data-hook="bank">
      <%= label_tag nil, t(:bank) %><br />
      <%#= hidden_field_tag "#{param_prefix}","" %>
      <%#= Rails.application.config.spree.payment_methods.inspect %>
      <%= select_tag("[bank][bank]", options_from_collection_for_select(Spree::BankDetail.all(:conditions => {:status => "owner"}), :bank, :bank)) %>
      <span class="required">*</span>
      <br />
      <%= label_tag nil, t(:account_name) %><br />
      <%= text_field_tag "[bank][account_name]"  %>
      <span class="required">*</span>
      <br />
      <%= label_tag nil, t(:account_number) %><br />
      <%= text_field_tag "[bank][account_number]"  %>
      <span class="required">*</span>
      <br />
      <%= label_tag nil, t(:bank_branch) %><br />
      <%= text_field_tag "[bank][bank_branch]" %>
      <%= hidden_field_tag "[bank][status]", :value => "customer" %>
    </div>
  </div>
</fieldset>
