<% unless order.bank_detail.nil? %>
  <span class="bank">
    <%= t(:bank)%> : <%= order.bank_detail.bank %>
  </span>
  <br />
  <span class="account-info">
    <%= t(:account_number)%> : <%= order.bank_detail.account_number %><br/>
    <%= t(:account_name)%> :  <%= order.bank_detail.account_name %>
  </span>
<% end %>
