<div data-hook="admin_bank_detail_form_fields">
  <%= f.field_container :bank do %>
    <%= f.label :bank, t(:bank) %><br />
    <%= f.text_field :bank %>
  <% end %>

  <%= f.field_container :account_name do %>
    <%= f.label :account_name, t(:account_name) %><br />
    <%= f.text_field :account_name %>
  <% end %>

  <%= f.field_container :account_number do %>
    <%= f.label :account_number, t(:account_number) %><br />
    <%= f.text_field :account_number %>
  <% end %>

  <%= f.field_container :bank_branch do %>
    <%= f.label :bank_branch, t(:bank_branch) %><br />
    <%= f.text_field :bank_branch %>
  <% end %>

  <%= f.hidden_field :status, :value => "owner" %>
</div>
