<h1><%= t(:editing_bank_detail) %></h1>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @bank_detail } %>

<%= form_for [:admin, @bank_detail] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>

