<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
    <p><%= button_link_to t(:new_bank), new_admin_bank_detail_url, :icon => 'add', :id => 'new_admin_bank_detail_link' %></p>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t(:listing_bank_details) %></h1>
<table class="index" id='listing_bank_details' data-hook>
  <thead>
    <tr data-hook="tax_header">
      <th><%= t(:bank) %></th>
      <th><%= t(:account_number) %></th>
      <th><%= t(:account_name) %></th>
      <th><%= t(:bank_branch) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bank_details.each do |bank_detail|
         @edit_url = edit_admin_bank_detail_path(bank_detail)
         @delete_url = admin_bank_detail_path(bank_detail)
    %>
      <tr id="<%= spree_dom_id bank_detail %>" data-hook="tax_row">
        <td><%= bank_detail.bank %></td>
        <td><%= bank_detail.account_number %></td>
        <td><%= bank_detail.account_name %></td>
        <td><%= bank_detail.bank_branch %></td>
        <td class="actions">
          <%= link_to_edit bank_detail, :class => 'edit' %> &nbsp;
          <%= link_to_delete bank_detail %>
      </tr>
    <% end %>
    <% if @bank_details.empty? %>
      <tr data-hook="bank_detail_none"><td colspan="4"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>


